<h1>Fish Name: <%= @fish_data[:name]%></h1>

<p>Scientific Name: <%= @fish_data[:scientific_name]%></p>

<p>Habitat: <%= @fish_data[:habitat]%></p>

<p><img src="<%=@fish_data[:img]%>"></p>

<p>Description: <%= @fish_data[:paragraph]%></p>

<p><a href="<%=@fish_data[:wiki]%>">Wikipedia Link</a></p>

<p><a href="/">FISH HOMEPAGE</a></p>